@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {
  max-width: 100vw;
}
*, *:before, *:after {
  box-sizing: inherit; }
html body {
  margin: none;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(#005c6b, #4fb65a);
}
.notShow{
  display: none;
}
h1{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}
p, span{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  word-spacing: 1px;
}
html body .heading {
  max-width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
.imgContainer{
  margin: auto;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.heading .imgContainer .imgLevellers{
  width: 15rem;
  height: 15rem;
  margin-left: 5rem;
  border-radius: 100%;
  cursor: pointer;
}
.heading .imgContainer .imgDDP{
  cursor: pointer;
}
.footer-info{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 15px;
}
html body .heading a {
  color: #2e5266;
  display: inline-block;
}
.fas, .fab{
  width: 100%;
  display: inline-block;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container .ui-card {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 16px;
  overflow: hidden;
  align-items: center;
  box-shadow: 18px 5px 11px 3px rgba(0, 0, 0, 0.15);
  height: 52rem;
  position: relative;
  z-index: 1;
  transform: scale(0.6) translateY(-2rem);
  pointer-events: none;
  transition: 1s;
  width: 0px;
}
#firstLast{
  box-shadow: none ;
  cursor: default ;
  opacity: 0;
  box-shadow: none;
}

.ui-card .card-header{
  width: 100%;
  display: block;
}
.ui-card .card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(153, 153, 153, 0.382);
}
.ui-card .card-body-img{
    border: 2px solid white;
    border-radius: 100%;
    margin-top: -10rem;
    background-color: white;
    max-width: 14rem;
    height: 14rem;
}
.ui-card .card-body-title{
    padding: 0px 2rem ;
    margin-top: -2px;
    font-size: 2rem;
}
.ui-card .body-text-container{
  text-align: justify;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}
.body-text-container h5{
  text-align: center;
}
.ui-card .card-body-text{
  color: black;
  padding: 0px 25px;
  font-size: 0.8rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
.ui-card .card-footer{
  display: flex;
  justify-content: space-around;
  
}
.card-footer .card-footer-text{
  text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
.container .ui-card:after {
  height: 2px;
  width: 100%;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.3);
  bottom: -5rem;
}
.container .ui-card:before {
  top: 50%;
  left: 50%;
  font-size: 3rem;
  font-weight: 300;
}
.container .ui-card.active {
  width: 30rem;
  z-index: 3;
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}
.container .ui-card.prev,
.container .ui-card.next {
  width: 30rem;
  z-index: 2;
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 0.4;
  pointer-events: auto;
  transition: 1s;
  cursor: pointer
}
  
  @media only screen and (min-width:993px) and (max-width: 1300px){
    .container .ui-card {
      height: 70rem;
    }
  }
  @media only screen and (max-width: 992px)  {
    .imgContainer{
      margin-bottom: 2rem;
      flex-direction: column-reverse;
    }
    .heading .imgContainer .imgLevellers{
      width: 10rem;
      height: 10rem;
      margin-left: 0rem;
    }
    .heading .imgContainer .imgDDP{
      width: 12rem;
      height: 12rem;
    }
    .container .ui-card {
      box-shadow: none;
      height: 64rem;
    }

    .ui-card .card-body-img{
        margin-top: -8rem;
        background-color: white;
        width: 14rem;
        transition: 1s;
    }
    .ui-card .body-text-container{
      margin-top: 1rem;
    }    

    .container .ui-card.active {
      max-width: 30rem;
      width: 90vw;
      transition: 0.2s;
    }
    .container .ui-card.prev,
    .container .ui-card.next {
      display: none;
    }
  }